.main1 {
    background: rgb(203, 58, 58);
    color: rgb(120, 120, 120);
}

.container_card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
}

.col_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}