/*google font import - poppins*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Rubik+Dirt&family=Share+Tech+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* colores */
    --color_body_bg: #057ae1;
    --color_body_bg1: #000042;
    --color-font-header: #bfbfbf;
    --color_title: #595959;
    --color_subitlle: #7f7f7f;
    --color-font-footer: #bfbfbf;
    --color_a_hover: #d3d3d3;
    /*colores sidebar**/
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    /*transitions*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    font-family: sans-serif;
    height: 100vh;
    background: linear-gradient( to right top, var(--color_body_bg1), var(--color_body_bg));
}

.header {
    width: 100%;
    height: 56px;
}

.cont-flui1 {
    padding: 100px;
}

.cont1 {
    height: calc(100vh - 56px);
    padding: 0;
}

.col1 {
    background-color: #d3d3d3;
    width: 56px;
    height: calc(100vh - 56px);
    padding: 0;
}

.col2 {
    background-color: #595959;
    padding: 0;
    height: calc(100vh - 56px);
    width: calc(100% - 56px);
}

.side_navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #bfbfbf;
    background-color: #bfbfbf;
}